# Ignore the large neural network model files
*.tflite
BESTMODEL/camera_alerts/*
BESTMODEL/audio_alerts/*
*.jpg
*.wav
# Ignore Python environment folders
venv/
.venv/
__pycache__/
*.pyc

# Ignore hidden VS Code settings or temporary test artifacts
.vscode/
extracted_metadata/
